@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html{
    margin: 0px;
    padding:0px;
    height: 100%;
    width: 100%;
}

body{
    font-family:'Cascadia Code',sans-serif;
    max-width: 100vw;
    max-height: 100vh;
    background-image: url('./bg.png');
    background-size: 90.5%;
    background-color: #282A36;
    background-repeat: no-repeat;
    background-position-x: center;

}

main.c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    position: relative;
}
.c pre{
}

.om{
    margin-top: 15px;
}

.om a, .om Link{
    text-decoration: none;
    color:#F8F8F2;
    margin-left: 110px;
    margin-right: 110px;
    font-weight: bold;
    font-size: 1.2rem;
      transition: color 0.1s ease-in-out;

}


/* 
make bg text load in all cool like
add element hover anims
*/

.tl{
    font-size: 18px;
    margin-top:32px;
    background-color: #FF79C6;
    color:#282A36;
    padding: 6.5px;
}

